<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partial/_header %>
</head>

<form action="/login" method="POST" style="margin:15px;">

  <p>

    <label for="email">Email:</label>
    <input id="email" type="email" name="email" style="width: 300px">

  </p>

  <p>
    <label for="password">Password:</label>
    <input id="password" type="password" name="password" style="width: 300px">
    <input type="submit" value="Submit">

  </p>


</form>

</html>