<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partial/_header %>
</head>

<body>
  <ul>
    <% for (var key in urls) { %>
      <li>URL:
        <%= urls[key] %>, shortened URL:
          <%= `/urls/${key}` %>
      </li>
      <% } %>
  </ul>
  <a href=#>Shorten Your URL</a>
</body>

</html>