<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partial/_header %>
</head>

<body>
  <ul>

    <li> Short URL:
      <%= `/urls/${shortURL}` %>
    </li>

    <form action='/urls/<%=shortURL%>' method="POST">
      <input id="longURL" type="text" name="longURL" value=<%=longURL%>>
      <button type=‘submit’>Update TinyUrl Link</button>
    </form>

  </ul>
</body>

</html>