<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partial/_header %>
</head>

<body>
  <ul>
    <li>URL:
      <%= longURL %>, shortened URL:
        <%= `/urls/${shortURL}` %>
    </li>
  </ul>
</body>

</html>