<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partial/_header %>
</head>

<body>

  <ul>
    <% for (var key in urls) { %>
      <li>
        <%= `/urls/${key}` %> -->
          <a>
            <%=urls[key]%>
          </a>

          <form method="POST" action='/urls/<%=key%>/delete' style="margin:15px;">
            <button type=‘submit’> DELETE </button>
          </form>

          <form method="POST" action='/urls/<%=key%>/edit' style="margin:15px;">
            <a href=#>edit</a>
          </form>

      </li>

      <% } %>
  </ul>

  <!-- <a href=#>Shorten Your URL</a> -->

</body>

</html>