<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partial/_header %>
</head>

<body>

  <ul>
    <% for (var key in urls) { %>

      <li> 
        Short URL: '/u/<%=key%>' (<a href=<%=urls[key].fullURL%>><%=urls[key].fullURL%></a>)

        <form method="POST" action='/urls/<%=key%>/delete'>
          <button type=‘submit’> DELETE </button>
        </form>

      </li>

    <% } %>
  </ul>

</body>

</html>