<!-- _header.ejs -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>TinyApp</title>

<% if (user) { %>
  
    <form action='/logout' method="POST">
      <label for="email">Logged in as <%=user.email%>:</label>
      <button type='submit'>Logout</button>
    </form>
 
<% } else { %>

  <a href='/register'>Register</a>
  <a href='/login'>Login</a>
   
<% } %>